<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af90ec">  <td>19/12/18 23:21:40</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;testcase1.setUp()[pri:0, instance:testcases.testcase1@1dfe2924]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@94264799</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>19/12/18 23:21:44</td>   <td>4245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="testcase1.testKonfiguratorDream()[pri:0, instance:testcases.testcase1@1dfe2924]">testKonfiguratorDream</td> 
  <td>main@94264799</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>19/12/18 23:21:50</td>   <td>10343</td> <td>&nbsp;</td><td title="&lt;&lt;testcase1.tearsDown()[pri:0, instance:testcases.testcase1@1dfe2924]">&lt;&lt;tearsDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@94264799</td>   <td></td> </tr>
</table>
